@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* Utils Class */
.w-80 {
  width: 80% !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.pointer {
  cursor: pointer;
}

/* Buttons */
.btn {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 0;
  padding: 14px 28px;
  transition: 0.2s ease;
}

.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn:active {
  transform: scale(0.98);
}

.btn--primary {
  background-color: #000;
  border-radius: 0;
}

.btn--primary:hover {
  color: #fff;
}

.btn--secondary {
  color: #000;
  background-color: transparent;
  margin-left: 20px;
  border: 1px solid #000;
}

/* Get CV Animation */
.get-cv span {
  display: inline-block;
}

.get-cv:hover span {
  animation: wave 1.5s linear infinite;
  transform-origin: 50% 30%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-14deg);
  }
  20% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(-14deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Wave Hand Animation */
.wave-hand {
  animation-name: wave-hand;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Navbar */
.navbar-brand {
  font-size: 28px;
  font-weight: 500;
}

.nav-link {
  line-height: 0;
  font-weight: 400;
  color: #000 !important;
}

/* Hero */
.hero {
  padding-bottom: 30px;
}
.hero__content {
  text-align: left;
}

.hero__content h3 {
  font-size: 42px;
  font-weight: 600;
}

.hero__content h1 {
  font-size: 58px;
  font-weight: 600;
}

.hero__content p {
  width: 80%;
}

.hero__image {
  text-align: right;
}

.hero__image svg {
  transform: scaleX(-1);
  height: 500px;
}

@media (max-width: 991.98px) {
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .btn--secondary {
    margin-left: 10px;
  }

  .hero__content h3 {
    font-size: 36px;
  }

  .hero__content h1 {
    font-size: 42px;
  }

  .hero__content p {
    width: 100%;
  }

  .hero__image svg {
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  .hero__content {
    order: 2;
    text-align: center;
  }

  .hero__image {
    order: 1;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .btn--primary {
    margin-bottom: 10px;
  }
}
